# Ignore everything
*

# Unignore mods folder
!mods/
!mods/**

# But ignore logs and saves
mods/logs/
mods/downloads/
mods/saves/*
mods/ModpackUpdater/temp_*.txt
mods/ModpackUpdater/*.bat
mods/ModpackUpdater/version_cache.json
!mods/saves/AdvancedCrosshair.txt
!mods/saves/VanillaHUD_v3.json
!mods/saves/QuickChat

# Unignore assets/mod_overrides folder
!assets/
!assets/mod_overrides/
!assets/mod_overrides/**
!WSOCK32.dll
!README.md
!.gitignore
!.luarc.json
!modpack_update.ps1
!modpack_update.sh
